<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">States</h3>
      </div>

      <div id="pageLoader" *ngIf="loader.loading$ | async">
        <div class="spinner-border text-primary"></div>
      </div>

      <div class="card-body">
        <div
          *ngIf="isMessage === true"
          class="alert alert-info alert-dismissible fade show"
          role="alert"
        >
          {{ message }}
        </div>

        <table id="statesTable" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Sno</th>
              <th>State ID</th>
              <th>Name</th>
              <th>Code</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let state of states; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ state.id }}</td>
              <td>{{ state.name }}</td>
              <td>{{ state.code }}</td>
              
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
