<section class="py-5" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6"><h2 class="fs-1">Our Impact in Numbers</h2></div>
      <div class="col-lg-6">
        <p>
          Our commitment to sustainable agriculture drives measurable results,
          building healthier ecosystems, stronger communities, and lasting
          prosperity
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class>
          <h2 class="display-2 fw-bold">50K+</h2>
          <p class="fs-4 mt-0">Farmers Supported</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class>
          <h2 class="display-2 fw-bold">20K+</h2>
          <p class="fs-4 mt-0">Acres Cultivated</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class>
          <h2 class="display-2 fw-bold">40%</h2>
          <p class="fs-4 mt-0">Average Yield Increase</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class>
          <h2 class="display-2 fw-bold">30K+</h2>
          <p class="fs-4 mt-0">Tons of Organic</p>
        </div>
      </div>
    </div>
  </div>
</section>