<div class="card">
  <div class="card-header">
    <h5>Add Village</h5>
  </div>

  <form #villageForm="ngForm" (ngSubmit)="saveVillage(villageForm)">
    <div class="card-body">
      <!-- Alert -->
      <div
        *ngIf="isMessage === true"
        class="alert alert-danger alert-dismissible fade show"
        role="alert"
      >
        {{ message }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
        ></button>
      </div>

      <div class="row">
        <div class="col-6 mb-3">
          <label class="form-label">
            State <span class="text-danger">*</span>
          </label>

          <select
            class="form-control"
            [(ngModel)]="village.state_id"
            name="state_id"
            (change)="loadDistricts(village.state_id)"
            required
          >
            <option value="">-- Select State --</option>
            <option *ngFor="let state of states" [value]="state.id">
              {{ state.name }}
            </option>
          </select>

          <!-- Validation -->
          <div
            class="text-danger mt-1"
            *ngIf="
              villageForm.submitted && villageForm.controls['state_id']?.invalid
            "
          >
            <small>State is required</small>
          </div>
        </div>

        <div class="col-6 mb-3">
          <label class="form-label">
            District <span class="text-danger">*</span>
          </label>

          <select
            class="form-control"
            [(ngModel)]="village.district_id"
            name="district_id"
            (change)="loadAssemblies(village.district_id)"
            required
          >
            <option value="">-- Select District --</option>
            <option *ngFor="let district of districts" [value]="district.id">
              {{ district.name }}
            </option>
          </select>

          <!-- Validation -->
          <div
            class="text-danger mt-1"
            *ngIf="
              villageForm.submitted &&
              villageForm.controls['district_id']?.invalid
            "
          >
            <small>District is required</small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6 mb-3">
          <label class="form-label">
            Assembly <span class="text-danger">*</span>
          </label>

          <select
            class="form-control"
            [(ngModel)]="village.assembly_id"
            name="assembly_id"
            (change)="loadMandals(village.assembly_id)"
            required
          >
            <option value="">-- Select Assembly --</option>
            <option *ngFor="let assembly of assemblies" [value]="assembly.id">
              {{ assembly.name }}
            </option>
          </select>

          <!-- Validation -->
          <div
            class="text-danger mt-1"
            *ngIf="
              villageForm.submitted &&
              villageForm.controls['assembly_id']?.invalid
            "
          >
            <small>Assembly is required</small>
          </div>
        </div>

        <div class="col-6 mb-3">
          <label class="form-label">
            Mandal <span class="text-danger">*</span>
          </label>

          <select
            class="form-control"
            [(ngModel)]="village.mandal_id"
            name="mandal_id"
            required
          >
            <option value="">-- Select Mandal --</option>
            <option *ngFor="let mandal of mandals" [value]="mandal.id">
              {{ mandal.name }}
            </option>
          </select>

          <!-- Validation -->
          <div
            class="text-danger mt-1"
            *ngIf="
              villageForm.submitted &&
              villageForm.controls['mandal_id']?.invalid
            "
          >
            <small>Mandal is required</small>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-6 mb-3">
          <label class="form-label">
            Village Name <span class="text-danger">*</span>
          </label>

          <input
            type="text"
            class="form-control"
            [(ngModel)]="village.name"
            name="name"
            required
          />

          <!-- Validation -->
          <div
            class="text-danger mt-1"
            *ngIf="
              villageForm.submitted && villageForm.controls['name']?.invalid
            "
          >
            <small>Name is required</small>
          </div>
        </div>

        <div class="col-6 mb-3">
          <label class="form-label">
            Pincode 
          </label>

          <input
            type="text"
            class="form-control"
            [(ngModel)]="village.pincode"
            name="pincode"
          />

          <!-- Validation -->
          <div
            class="text-danger mt-1"
            *ngIf="
              villageForm.submitted && villageForm.controls['pincode']?.invalid
            "
          >
            <small>Pincode is required</small>
          </div>
        </div>


      </div>
    </div>

    <div class="card-footer">
      <button class="btn btn-primary mr-3">
        {{ isEdit ? "Update" : "Save" }}
      </button>
      <button type="button" class="btn btn-dark" (click)="handleBackBtn()">
        Back
      </button>
    </div>
  </form>
</div>
