<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Assigned To Me Issues</h3>
      </div>

      <div id="pageLoader" *ngIf="loader.loading$ | async">
        <div class="spinner-border text-primary"></div>
      </div>

      <div class="card-body">
        <!-- <div
          *ngIf="loading()"
          class="alert alert-info alert-dismissible fade show"
          role="alert"
        >
          {{ message() }}
        </div> -->

        <table id="assignedToMeIssuesTable" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Sno</th>
              <th>Category</th>
              <th>Issue Title</th>
              <th>Description</th>
              <th>Madal</th>
              <th>Village</th>
              <th>Status</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let issue of assignedToMeIssues(); let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ issue.category }}</td>
              <td>{{ issue.issue_title }}</td>
              <td>{{ issue.issue_description }}</td>
              <td>{{ issue.mandal }}</td>
              <td>{{ issue.village }}</td>
              <td>{{ issue.status }}</td>
            </tr>
            <tr *ngIf="assignedToMeIssues().length === 0">
              <td colspan="5">No issues found</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
