<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">All Issues</h3>
      </div>

      <div id="pageLoader" *ngIf="loader.loading$ | async">
        <div class="spinner-border text-primary"></div>
      </div>

      <div class="card-body">
        <!-- <div
          *ngIf="loading()"
          class="alert alert-info alert-dismissible fade show"
          role="alert"
        >
          {{ message() }}
        </div> -->

        <table id="issuesTable" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Sno</th>
              <th>Category</th>
              <th>Issue Title</th>
              <th>Description</th>
              <th>Assembly</th>
              <th>Madal</th>
              <th>Village</th>
              <th>Tag Representive</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let issue of issuesList(); let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ issue.category }}</td>
              <td>{{ issue.issue_title }}</td>
              <td>{{ issue.issue_description }}</td>
              <td>{{ issue.assembly }}</td>
              <td>{{ issue.mandal }}</td>
              <td>{{ issue.village }}</td>
              <td>{{ issue.full_name }}</td>
              <td>{{ issue.status }}</td>
              <td>
                <button class="btn btn-info " 
                  (click)="handleView(issue.id)">
                    <i class="fas fa-eye"></i>
                  </button>
              </td>
            </tr>
            <tr *ngIf="issuesList().length === 0">
              <td colspan="5">No issues found</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
