<!-- Header -->
<header id="header" [class.scrolled]="isScrolled">
  <div class="container">
    <a routerLink="/" class="logo">
      <p class="fs-5 d-flex align-items-center mb-0 fw-bold text-white">
        <img
          src="assets/images/pps-main-logo.png"
          alt="Logo"
          width="80"
          class="me-2"
        />
        <!-- Logo Here -->
      </p>
    </a>

    <nav id="desktopNav">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Home
      </a>

      <a routerLink="/about" routerLinkActive="active"> About Us </a>

      <a routerLink="/issues" routerLinkActive="active"> Issues </a>

      <a routerLink="/schemes" routerLinkActive="active"> Schemes </a>

      <a routerLink="/contact" routerLinkActive="active"> Contact </a>

      <a routerLink="/admin/login" class="button-login px-3 py-2"> Login </a>
    </nav>

    <button class="menu-btn" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>
<app-hero></app-hero>
<app-brand-marquee></app-brand-marquee>


