<footer class="footer pt-3">

  <div class="theme-bg text-white">

    <div class="container">

      <div class="row pt-lg-1 pt-3 pb-lg-2 pb-4 justify-content-between text-center">

        <div class="col-auto my-auto">
          <p class="py-2 mb-0">
            © {{ currentYear }} Your Website. All Rights Reserved.
          </p>
        </div>

        <div class="col-auto pt-2">

          <a routerLink="/privacy"
             class="py-1 px-3 text-white">
            Privacy Policy
          </a>

          <a routerLink="/terms"
             class="py-1 px-3 text-white">
            Terms of Service
          </a>

        </div>

      </div>

    </div>

  </div>

</footer>