/* Hover effect for sidebar menu */
.main-sidebar .nav-sidebar .nav-link:hover {
    background-color: #007bff; /* Optional */
    color: #fff !important;
}

.main-sidebar .nav-sidebar .nav-link:hover p,
.main-sidebar .nav-sidebar .nav-link:hover i {
    color: #fff !important;
}


