<div class="main-bg">
    <div class="container">
        <div class="pt-lg-3 pt-5 pb-lg-3 pb-3">
            <div class="row align-items-center justify-content-end">

                <div class="col-lg-8">

                    <div class="ads-slider"
                        (mouseenter)="stopAutoPlay()"
                        (mouseleave)="startAutoPlay()">

                        <button class="nav-btn prev"
                            (click)="prevSlide()">
                            &#10094;
                        </button>

                        <div class="slider-track" #sliderTrack>

                            <div class="ad-item" *ngFor="let advertisement of advertisements">
                                <div class="ad-box">
                                    <img
                                        [src]="advertisement.imageUrl">
                                </div>
                            </div>

                        </div>

                        <button class="nav-btn next"
                            (click)="nextSlide()">
                            &#10095;
                        </button>

                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="pt-lg-5 pb-lg-3 pt-2 pb-2">
                        <div class="row pt-3">
                            <div class="col-lg-11 p-3 rounded-20">
                                <h5 class="display-4 fw-bold text-white">
                                    Sustainable Farming for a Thriving Future
                                </h5>
                                <p class="text-white">
                                    We empower farmers with sustainable
                                    practices, quality seeds,
                                    and modern technologies to cultivate
                                    abundant harvests,
                                    support communities, protect resources, and
                                    ensure global food
                                    security.
                                </p>

                                <button class="btn theme-btn">Explore More
                                    Jobs</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="about" class="pt-4"></div>
    </div>
</div>
<!---- Banner section end ----->