<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <p
          class="fs-5 fw-normal bg-light border rounded-pill d-inline-block px-3 py-1"
        >
          Latest Public Issues
        </p>

        <h2 class="fs-1 pb-4">
          Showcasing the Beauty and Innovation of Sustainable Imagery
        </h2>
      </div>
    </div>

    <div class="row py-3">
      <!-- Card 1 -->
      <div class="col-lg-4 my-2">
        <div class="blog-home-01 rounded-20 zoom">
          <div class="blog-content text-white">
            <h2 class="fs-5 text-white">Lorem ipsum dolor sit</h2>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
              gravida hendrerit felis, et faucibus enim interdum.
            </p>

            <a routerLink="/issues" class="button border py-2 px-3">
              Read More
            </a>
          </div>
        </div>
      </div>

      <!-- Card 2 & 3 -->
      <div class="col-lg-4 my-2">
        <div class="blog-home-02 rounded-20 zoom mb-3">
          <div class="blog-content text-white">
            <h2 class="fs-5 text-white">Lorem ipsum dolor sit</h2>

            <a routerLink="/issues" class="button border py-2 px-3">
              Read More
            </a>
          </div>
        </div>

        <div class="blog-home-03 rounded-20 zoom">
          <div class="blog-content text-white">
            <h2 class="fs-5 text-white">Lorem ipsum dolor sit</h2>

            <a routerLink="/issues" class="button border py-2 px-3">
              Read More
            </a>
          </div>
        </div>
      </div>

      <!-- Card 4 -->
      <div class="col-lg-4 my-2">
        <div class="blog-home-04 rounded-20 zoom">
          <div class="blog-content text-white">
            <h2 class="fs-5 text-white">Lorem ipsum dolor sit</h2>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
              gravida hendrerit felis, et faucibus enim interdum.
            </p>

            <a routerLink="/issues" class="button border py-2 px-3">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>