<section class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-6">
            <div class="issue-box">
              <img
                src="assets/images/home-page-grid-image-3.webp"
                class="img-fluid rounded-20"
              />
              <div class>
                <h2 class="fs-4">Showcasing the Beauty and Innovation</h2>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="issue-box">
              <img
                src="assets/images/home-page-grid-image-4.webp"
                class="img-fluid rounded-20"
              />
              <div class>
                <h2 class="fs-5">Showcasing the Beauty and Innovation</h2>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="issue-box">
              <img
                src="assets/images/home-page-grid-image-3.webp"
                class="img-fluid rounded-20"
              />
              <div class>
                <h2 class="fs-5">Showcasing the Beauty and Innovation</h2>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="issue-box">
              <img
                src="assets/images/home-page-grid-image-4.webp"
                class="img-fluid rounded-20"
              />
              <div class>
                <h2 class="fs-5">Showcasing the Beauty and Innovation</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <p
          class="fs-5 fw-normal bg-light border rounded-pill d-inline-block px-3 py-1"
        >
          Governament Schemes
        </p>
        <h2 class="fs-1 pb-4">
          Showcasing the Beauty and Innovation of Sustainable Imagery
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
          interdum orci ac dolor malesuada pellentesque. Pellentesque gravida
          rhoncus pulvinar. Vestibulum feugiat tristique cursus. Proin augue
          sapien, bibendum sit amet velit ut, tincidunt condimentum elit. Aenean
          eget viverra ex. Mauris euismod feugiat nisi pulvinar sollicitudin.
          Duis eu varius est. Nunc pretium vestibulum libero vitae fringilla.
          Cras at nulla a orci ornare vulputate. Proin ut magna quis massa
          pretium aliquam.
        </p>
        <a href class="btn theme-btn">Explore All Schemes</a>
      </div>
    </div>
  </div>
</section>