<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Mandals</h3>
      </div>

      <div id="pageLoader" *ngIf="loader.loading$ | async">
        <div class="spinner-border text-primary"></div>
      </div>

      <div class="card-body">
        <div
          *ngIf="isMessage === true"
          class="alert alert-info alert-dismissible fade show"
          role="alert"
        >
          {{ message }}
        </div>

        <div class="d-flex justify-content-end">
          <button class="btn btn-primary mb-2" (click)="handleAdd()">
            Add Mandal
          </button>
        </div>

        <table id="mandalsTable" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Sno</th>
              <th>Mandal ID</th>
              <th>Mandal</th>
              <th>Assembly</th>
              <th>District</th>
              <th>State</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let mandal of mandals; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ mandal.id }}</td>
              <td>{{ mandal.name }}</td>
              <td>{{ mandal.assembly }}</td>
              <td>{{ mandal.district }}</td>
              <td>{{ mandal.state }}</td>
              <td>
                <div class="d-flex">
                  <button
                    class="btn btn-success mr-2"
                    (click)="handleEdit(mandal)"
                  >
                    <i class="fas fa-edit"></i>
                  </button>
                  <button
                    class="btn btn-danger"
                    (click)="confirmDelete(mandal.id)"
                  >
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </td>                   
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
